<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <title>AirFic</title>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <link rel="shortcut icon"  href="#{request.contextPath}/resources/images/icono.ico"/>


        <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700,300' rel='stylesheet' type='text/css'/>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous"/>
        <h:outputStylesheet library="css" name="animate.css"/>
        <h:outputStylesheet library="css" name="icomoon.css"/>
        <h:outputStylesheet library="css" name="bootstrap.css"/>
        <h:outputStylesheet library="css" name="superfish.css"/>
        <h:outputStylesheet library="css" name="magnific-popup.css"/>
        <h:outputStylesheet library="css" name="bootstrap-datepicker.min.css"/>
        <h:outputStylesheet library="css" name="cs-select.css"/>
        <h:outputStylesheet library="css" name="cs-skin-border.css"/>
        <h:outputStylesheet library="css" name="style.css"/>
        <h:outputStylesheet library="js" name="modernizr-2.6.2.min.js"/>

        <f:metadata>
            <f:viewParam id="id" name="id" value="#{bean_tiquete.idG2}"/>
            <f:viewAction action="#{bean_tiquete.mostrarPodIDTodosVuelos()}"/>
        </f:metadata>
    </h:head>
    <style>

        .ui-growl{

            z-index: 20000 !important;

        }

        .btnn:hover, .btnn:active, .btnn:focus {
            background: #393e46 !important;
            color: #fff;
            outline: none !important;
        }

        .ui-datagrid-content {

            border :none !important;

        }

        .ui-widget-content{

            border: none !important;

        }

        .ui-panelgrid-cell {

            border: none !important;

        }
    </style>
    <h:body>
        <p:growl>
            <p:autoUpdate/>
        </p:growl>
        <body>
            <div id="fh5co-wrapper">
                <div id="fh5co-page">
                    <header id="fh5co-header-section" class="sticky-banner">
                        <div class="container">
                            <div class="nav-header">
                                <a href="#" class="js-fh5co-nav-toggle fh5co-nav-toggle dark"><i></i></a>
                                <h1 id="fh5co-logo"><a href="faces/index.xhtml"><i class="fas fa-plane"></i>AirFic</a></h1>
                                <!-- START #fh5co-menu-wrap -->
                                <nav id="fh5co-menu-wrap" role="navigation">
                                    <h:form>
                                        <ul class="sf-menu" id="fh5co-primary-menu">
                                            <li class="active"><a href="faces/index.xhtml">Inicio</a></li>
                                            <li>
                                                <a href="vacation.html" class="fh5co-sub-ddown">Contactanos en</a>
                                                <ul class="fh5co-sub-menu">
                                                    <li><a href="#">Facebook</a></li>
                                                    <li><a href="#">Instagram</a></li>
                                                    <li><a href="#">Google + </a></li>
                                                </ul>
                                            </li>
                                            <li style="margin-left: 160px;" onclick="PF('sidebar').show();"><acronym title="Usuario" style="border: none;text-decoration: none;"> <a><i class="fas fa-user"></i>  &nbsp; #{sessionvalidate.l.usuario} </a></acronym></li>
                                            <li style="margin-left: 20px;"><p:commandLink onclick="PF('sidebar2').show();"  value="Iniciar Sesion" style="border: none;"/></li>
                                        </ul>
                                    </h:form>
                                </nav>
                            </div>
                        </div>
                    </header>
                    <!-- end:header-top -->
                    <div class="fh5co-hero" style="height: 70px !important;">
                        <div class="fh5co-overlay" style="height: 100px !important;">
                        </div>
                    </div>
                    <div id="fh5co-tours" class="fh5co-section-gray">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-8 col-md-offset-2 text-center heading-section animate-box">
                                    <h3>Resultado de la busqueda</h3>
                                </div>
                            </div>
                            <div class="row">
                                <div class="tab-content">
                                    <h:form>
                                        <p:panelGrid columns="1">
                                            <div class="col-md-12 col-sm-6 fh5co-tours animate-box" data-animate-effect="fadeIn" >
                                                <div href="#">
                                                    <p:panel style="border: none !important;background: transparent;">
                                                        <div class="col-md-12 col-sm-6 fh5co-tours animate-box" data-animate-effect="fadeIn" >
                                                            <div href="#" style="height: 200px !important;">
                                                                <p:graphicImage name="#{bean_tiquete.photo}" library="destinos" class="img-responsive"/>


                                                                <div class="desc">
                                                                    <span></span>
                                                                    <h3>#{bean_tiquete.origen} a  #{bean_tiquete.destinop}</h3>
                                                                    <h3>Clase #{bean_tiquete.clase}, Vuelo  #{bean_tiquete.vuelo}</h3>
                                                                    <span class="price">Precio $ #{bean_tiquete.precio}</span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </p:panel>
                                                    <p:panel style="border: none;background: transparent;" id="a">
                                                        <div class="tabulation animate-box" style="margin-top: 50px;width: 320px;float: left !important;margin-left: 120px;">
                                                            <!-- Tab panes -->
                                                            <div class="tab-content" style="width: 360px !important;">

                                                                <div role="tabpanel" class="tab-pane active" id="flights" style="float: left !important;">
                                                                    <div class="row">
                                                                        <div class="col-sm-12 mt">
                                                                            <div class="input-field">
                                                                                <label for="from">Primer nombre</label>
                                                                                <br/>
                                                                                <p:inputText required="true" requiredMessage="Primer nombre es requerido" value="#{bean_tiquete.nombre_uno}"/>
                                                                            </div>
                                                                        </div>
                                                                        <br/>
                                                                    </div>
                                                                    <div class="row">
                                                                        <div class="col-sm-12 mt">
                                                                            <div class="input-field">
                                                                                <label for="from">Segundo nombre</label>
                                                                                <br/>
                                                                                <p:inputText required="true" requiredMessage="Segundo nombre es requerido" value="#{bean_tiquete.nombre_dos}"/>
                                                                            </div>
                                                                        </div>
                                                                        <br/>
                                                                    </div>

                                                                    <div class="row">
                                                                        <div class="col-sm-12 mt">
                                                                            <div class="input-field">
                                                                                <label for="from">Primer apellido</label>
                                                                                <br/>
                                                                                <p:inputText required="true" requiredMessage="Primer apellido es requerido" value="#{bean_tiquete.apellido_uno}"/>
                                                                            </div>
                                                                        </div>
                                                                    </div>

                                                                    <div class="row">
                                                                        <div class="col-sm-12 mt">
                                                                            <div class="input-field">
                                                                                <label for="from">Segundo apellido</label>
                                                                                <br/>
                                                                                <p:inputText required="true" requiredMessage="Segundo apellido es requerido" value="#{bean_tiquete.apellido_dos}"/>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="row">
                                                                        <div class="col-sm-12 mt">
                                                                            <div class="input-field">
                                                                                <label for="from">Telefono</label>
                                                                                <br/>
                                                                                <p:inputMask mask="9999-9999" required="true" requiredMessage="Telefono es requerido" value="#{bean_tiquete.telefono}"/>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="row">
                                                                        <div class="col-sm-12 mt">
                                                                            <div class="input-field">
                                                                                <label for="from">Fecha del vuelo</label>
                                                                                <br/>
                                                                                <p:inputMask mask="9999/99/99" placeholder="YY/MM/DD" required="true" requiredMessage="Fecha es requerida" value="#{bean_tiquete.fecha_vuelo}"/>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="row">
                                                                        <div class="col-sm-12 mt">
                                                                            <div class="input-field">
                                                                                <center><p:commandButton class="btnn" value="Comprar" style="border: none;background: #F78536;border: none;color: white;font-weight: 400;font-size:15px;width: 230px;height: 50px;" actionListener="#{bean_tiquete.guardarVuelo()}" update="a"/></center> 
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="tabulation animate-box" style="margin-top: 50px;width: 320px;float: left !important;margin-left: 70px;">
                                                            <!-- Tab panes -->
                                                            <div class="tab-content" style="width: 360px !important;">

                                                                <div role="tabpanel" class="tab-pane active" id="flights" style="float: left !important;">
                                                                    <div class="row">


                                                                        <div class="col-sm-12 mt">
                                                                            <div class="input-field">
                                                                                <label for="from">Direccion</label>
                                                                                <br/>
                                                                                <p:inputText required="true" requiredMessage="Direccion es requerida" value="#{bean_tiquete.direccion}"/>
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-sm-12 mt">
                                                                            <div class="input-field">
                                                                                <label for="from">Tipo de documento</label>
                                                                                <br/>
                                                                                <p:selectOneMenu style="width: 200px;" value="#{bean_tiquete.id_documento}">
                                                                                    <f:selectItems value="#{bean_tiquete.tipo_documento}" var="ca" itemLabel="#{ca.nombreDocumento}" itemValue="#{ca.idDocumento}"/>
                                                                                </p:selectOneMenu>
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-sm-12 mt">
                                                                            <div class="input-field">
                                                                                <label for="from">N° de documento</label>
                                                                                <br/>
                                                                                <p:inputText required="true" requiredMessage="N° de documento es requerido" value="#{bean_tiquete.documento}"/>
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-sm-12 mt">
                                                                            <div class="input-field">
                                                                                <label for="from">N° de Tarjeta</label>
                                                                                <br/>
                                                                                <p:inputText required="true" requiredMessage="N° de tarjeta es requerido" value="#{bean_tiquete.numeroTarjeta}"/>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </p:panel>
                                                </div>
                                            </div>
                                        </p:panelGrid>
                                    </h:form>
                                </div>
                            </div>
                            <br/>
                            <div class="row">
                                <div class="col-md-8 col-md-offset-2 text-center heading-section animate-box">
                                    <h3>Más vuelos</h3>
                                </div>
                            </div>
                            <div class="row">
                                <div class="tab-content">
                                    <h:form>
                                        <p:dataGrid columns="1" value="#{filtro_busqueda.listaVuelos}" var="pro">
                                            <div class="col-md-12 col-sm-6 fh5co-tours animate-box" data-animate-effect="fadeIn" >
                                                <div href="#">
                                                    <p:graphicImage name="#{bean_tiquete.photo}" library="destinos" class="img-responsive" style="height: 300px !important;width:  100% !important;"/>
                                                    <p:graphicImage name="place-1.jpg" library="images" class="img-responsive"  style="height: 250px !important;width: 100% !important;"/>
                                                    <div class="desc">
                                                        <span></span>
                                                        <h3>#{pro.origen} - #{pro.destino}</h3>
                                                        <h3>#{pro.vuelo}, Clase #{pro.clase}</h3>
                                                        <span class="price">$ #{pro.precio}</span>
                                                        <a><h:link outcome="compra_vuelo2.xhtml?faces-redirect=true" class="btn btn-primary btn-outline" value="Comprar">
                                                                <f:param name="id" value="#{pro.idAvionDestino}"/>
                                                            </h:link>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </p:dataGrid>
                                    </h:form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="fh5co-blog-section" class="fh5co-section-gray">
                        <div class="container">
                            <div class="row">
                            </div>
                        </div>
                    </div>
                    <div id="fh5co-testimonial" style="background-image:url( #{request.contextPath}../resources/images/img_bg_1.jpg) !important;">
                        <div class="container">
                            <div class="row animate-box">
                                <div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
                                    <h2>Clientes satisfechos</h2>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="box-testimony animate-box">
                                        <blockquote>
                                            <span class="quote"><span><i class="fas fa-chevron-circle-right"></i></span></span>
                                            <p>&ldquo;Yo solo vine al aeropuerto por agua pero accidentalmente compré un boleto, el vuelo fue de lo mejor &rdquo;</p>
                                        </blockquote>
                                        <p class="author">Un desconocido<span class="subtext">Un desconocidox2</span></p>
                                    </div>

                                </div>
                                <div class="col-md-4">
                                    <div class="box-testimony animate-box">
                                        <blockquote>
                                            <span class="quote"><span><i class="fas fa-chevron-circle-right"></i></span></span>
                                            <p>&ldquo;Nmms vato estuvo bien chido el viaje +100 :3 , gracias a este viaje pude conocer a la que ahora es mi esposa.&rdquo;</p>
                                        </blockquote>
                                        <p class="author">Freddy mercurio<span class="subtext">Dueño de saturno</span></p>
                                    </div>


                                </div>
                                <div class="col-md-4">
                                    <div class="box-testimony animate-box">
                                        <blockquote>
                                            <span class="quote"><span><i class="fas fa-chevron-circle-right"></i></span></span>
                                            <p>&ldquo;La atencion es tan buena, no tengo quejas sobre eso.&rdquo;</p>
                                        </blockquote>
                                        <p class="author">Hanna montaña<span class="subtext">la de hanna montaña</span></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <footer>
                        <div id="footer">
                            <div class="container">

                                <div class="row">
                                    <div class="col-md-6 col-md-offset-3 text-center">
                                        <p>Copyright 2019 All Rights Reserved.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </footer>
                </div>
                <!-- END fh5co-page -->

            </div>

            <p:sidebar widgetVar="sidebar2" position="right" baseZIndex="10000" style="background: #F78536;">
                <br/>

                <h:form id="form1">
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs" role="tablist" >
                        <li role="presentation" class="active">
                            <p:graphicImage name="icono.png" library="images" style="position: relative;width: 80px;height: 80px;top: 100px;left: 230px;"/>
                        </li>
                    </ul>
                    <div class="tabulation animate-box" style="margin-top:   60px !important;">
                        <!-- Tab panes -->
                        <div class="tab-content">

                            <div role="tabpanel" class="tab-pane active" id="flights">
                                <div class="row">
                                    <div class="col-sm-12 mt">
                                        <div class="input-field">
                                            <label for="from">Usuario</label>
                                            <p:inputText required="true" requiredMessage="Usuario es requerido" value="#{bean_validacion.loggin.usuario}"/>
                                        </div>
                                    </div>
                                    <br/>
                                    <div class="col-sm-12 mt">
                                        <div class="input-field">
                                            <label for="from">Contraseña</label>
                                            <br/>
                                            <p:inputText required="true" requiredMessage="Contraseña es requerida" value="#{bean_validacion.loggin.pass}"/>
                                        </div>
                                    </div>
                                    <div class="col-xs-12">
                                        <center>
                                            <p:commandButton value="Iniciar Sesion" class="btnn" style="border: none;background: #F78536;border: none;color: white;font-weight: 400;font-size: 16px;width: 150px;height: 35px;" update="form1" actionListener="#{bean_validacion.validar()}"/>
                                        </center> 
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12" style="margin-top: 30px;">
                        <center>
                            <a href="faces/crearCuenta.xhtml" style="color: white !important;font-size: 17px;">¿No tienes cuenta?, <p style="color: #000 !important;">creala en este momento.</p></a>
                        </center> 
                    </div>
                </h:form>
            </p:sidebar>

            <p:sidebar widgetVar="sidebar" position="right" baseZIndex="10000" style="background: #F78536;">
                <br/>

                <h:form>
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs" role="tablist" >
                        <li role="presentation" class="active">
                            <p:graphicImage name="icono.png" library="images" style="position: relative;width: 80px;height: 80px;top: 100px;left: 230px;"/>
                        </li>
                    </ul>
                    <div class="tabulation animate-box" style="margin-top:   60px !important;">
                        <!-- Tab panes -->
                        <div class="tab-content">

                            <div role="tabpanel" class="tab-pane active" id="flights">
                                <div class="row">
                                    <div class="col-sm-12 mt">
                                        <div class="input-field">
                                            <label for="from">¿Desea Cerrar Sesion?</label>
                                            <div style="margin-top: 10px;">
                                                <p:commandButton value="Si" actionListener="#{bean_validacion.cerrarSession()}" action="index?faces-redirect=true" class="btnn"  style="border: none;background: #F78536;border: none;color: white;font-weight: 400;font-size:20px;width: 150px;height: 40px;"/>
                                            </div>
                                            <div style="margin-top: 20px;">
                                                <p:commandButton value="No" onclick="PF('sidebar').close();" class="btnn"  style="border: none;background: #F78536;border: none;color: white;font-weight: 400;font-size:20px;width: 150px;height: 40px;"/>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </h:form>


            </p:sidebar>
            <!-- jQuery -->

            <h:outputStylesheet library="js" name="jquery.min.js"/>
            <h:outputStylesheet library="js" name="jquery.easing.1.3.js"/>
            <h:outputStylesheet library="js" name="bootstrap.min.js"/>
            <h:outputStylesheet library="js" name="jquery.waypoints.min.js"/>
            <h:outputStylesheet library="js" name="sticky.js"/>
            <h:outputStylesheet library="js" name="jquery.stellar.min.js"/>
            <h:outputStylesheet library="js" name="hoverIntent.js"/>
            <h:outputStylesheet library="js" name="superfish.js"/>
            <h:outputStylesheet library="js" name="magnific-popup-options.js"/>
            <h:outputStylesheet library="js" name="jquery.magnific-popup.min.js"/>
            <h:outputStylesheet library="js" name="magnific-popup-options.js"/>
            <h:outputStylesheet library="js" name="bootstrap-datepicker.min.js"/>
            <h:outputStylesheet library="js" name="classie.js"/>
            <h:outputStylesheet library="js" name="selectFx.js"/>
            <h:outputStylesheet library="js" name="main.js"/>

        </body>

    </h:body>
</html>

