<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <body>

        <ui:composition template="./principal_logistica.xhtml">

            <ui:define name="content">
                <table style="margin: 0 auto" cellpadding="10px">
                    <tr>
                        <td></td>
                        <td>
                            <h:form>
                                <div class="tittle-table">
                                    <center>
                                        <div id="title">
                                            Lista de Categorias de Productos
                                        </div>
                                    </center>
                                </div>
                                <br/>
                                <br/>
                                <p:dataTable value="#{bean_logistica.listacat}" style="text-align: center" var="item">
                                    <p:column style="width: 40px;">
                                        <f:facet name="header">
                                            <h:outputText value="Id"/>
                                        </f:facet>
                                        <h:outputText value="#{item.idCategoria}"/>
                                    </p:column>
                                    <p:column style="width: 100px;">
                                        <f:facet name="header">
                                            <h:outputText value="Nombre"/>
                                        </f:facet>
                                        <h:outputText value="#{item.nombreCategoria}"/>
                                    </p:column>
                                    <p:column style="width:500px;">
                                        <f:facet name="header">
                                            <h:outputText value="Descripcion"/>
                                        </f:facet>
                                        <h:outputText value="#{item.descripcion}"/>
                                    </p:column>
                                </p:dataTable>
                            </h:form>
                        </td>
                    </tr>
                </table>

            </ui:define>

        </ui:composition>

    </body>
</html>
