<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <body>

        <ui:composition template="./principal_logistica.xhtml">

            <ui:define name="content">
                <table cellpadding="10px">
                    <tr>
                        <td></td>
                        <td>
                            <p:growl>
                                <p:autoUpdate/>
                            </p:growl>



                            <f:view>
                                <center><h:form id="form2">
                                        <div class="tittle-table">
                                            <center>
                                                <div id="title">
                                                    Inventario de Productos Existentes
                                                </div>
                                            </center>
                                        </div>
                                        <br/>
                                        <br/>
                                        <p:dataTable style="text-align: center" value="#{bean_logistica.lista}" var="item">
                                            <p:column>
                                                <f:facet name="header">
                                                    <h:outputText value="Codigo"/>
                                                </f:facet>
                                                <h:inputHidden value="#{item.idInventario}"/> 
                                                <h:outputText value="#{item.codigo}"/>
                                            </p:column>
                                            <p:column>
                                                <f:facet name="header">
                                                    <h:outputText value="Nombre"/>
                                                </f:facet>
                                                <h:outputText value="#{item.nombre}"/>
                                            </p:column>
                                            <p:column>
                                                <f:facet name="header">
                                                    <h:outputText value="Categoria"/>
                                                </f:facet>
                                                <h:outputText value="#{item.nombreCategoria}"/>
                                            </p:column>
                                            <p:column>
                                                <f:facet name="header">
                                                    <h:outputText value="Proveedor"/>
                                                </f:facet>
                                                <h:outputText value="#{item.nombreProveedor}"/>
                                            </p:column>
                                            <p:column>
                                                <f:facet name="header">
                                                    <h:outputText value="Precio"/>
                                                </f:facet>
                                                <h:outputText value="#{item.precio}"/>
                                            </p:column>
                                            <p:column>
                                                <f:facet name="header">
                                                    <h:outputText value="Stock"/>
                                                </f:facet>
                                                <h:outputText value="#{item.stock}"/>
                                            </p:column>
                                            <p:column>
                                                <f:facet name="header">
                                                    <h:outputText value="Acciones"/>
                                                </f:facet>
                                                <p:commandButton icon="ui-icon-trash" style="width: 110px;text-align: center" value="Eliminar"
                                                                 actionListener="#{bean_logistica.eliminar(item.idInventario, item.codigo)}" update="form2"/>
                                                <p:commandButton icon="ui-icon-pencil" onclick="PF('ventana').show();" style="width: 110px;text-align: center" value="Editar"
                                                                 actionListener="#{bean_logistica.mostrarporID(item.codigo, item.idInventario)}" update=":form3"/>
                                            </p:column>
                                        </p:dataTable>
                                        <br/>
                                        <br/>
                                        <p:commandButton onclick="PF('ventana1').show();" icon="ui-icon-circle-plus" style="width: 350px;color: #000" value="INGRESAR NUEVO REGISTRO"/>
                                    </h:form></center>
                            </f:view>

                            <p:dialog widgetVar="ventana" resizable="false" hideEffect="fade" showEffect="fade">
                                <center> <h:form id="form3">
                                        <h:panelGrid columns="2" style="text-align: center">
                                            <p:outputLabel value="Codigo :"/>
                                            <p:outputLabel id="Codigo" value="#{bean_logistica.codigo}"/>
                                            <p:outputLabel value="Nombre :"/>
                                            <p:inputText id="nombre" value="#{bean_logistica.nombre}" required="true" title="Nombre" />
                                            <p:outputLabel value="Precio :"/>
                                            <p:inputText id="precio" value="#{bean_logistica.precio}" required="true" title="Precio" />
                                            <p:outputLabel value="Stock :"/>
                                            <p:outputLabel id="stock" value="#{bean_logistica.stock}"/>
                                            <p:outputLabel value="Categoria :"/>
                                            <p:selectOneMenu id="categoria" value="#{bean_logistica.categoria}" required="true" requiredMessage="The Categoria field is required.">
                                                <f:selectItems value="#{bean_logistica.listacat}" var="d" itemLabel="#{d.nombreCategoria}" itemValue="#{d.idCategoria}"/>
                                            </p:selectOneMenu>
                                            <p:outputLabel value="Proveedor :"/>
                                            <p:outputLabel value="#{bean_logistica.proveedor}"/>
                                            <h:inputHidden value="#{bean_logistica.id_inventario}"/>
                                        </h:panelGrid>
                                        <br/>
                                        <p:commandButton value="Actualizar" icon="ui-icon-circle-check" onclick="PF('ventana').close();"
                                                         update=":form2" action="#{bean_logistica.actualizar()}"/>
                                    </h:form>
                                </center>
                            </p:dialog>

                            <p:dialog widgetVar="ventana1" resizable="false" showEffect="fade" hideEffect="fade">
                                <h:form id="form">
                                    <h:panelGrid columns="2">
                                        <p:outputLabel value="Codigo :"/>
                                        <p:inputText id="codigo" value="#{bean_logistica.codigo}" title="Codigo" required="true"/>
                                        <p:outputLabel value="Nombre :"/>
                                        <p:inputText id="nombre" value="#{bean_logistica.nombre}" required="true" title="Nombre" />
                                        <p:outputLabel value="Precio :"/>
                                        <p:inputText id="precio" value="#{bean_logistica.precio}" required="true" title="Precio" />
                                        <p:outputLabel value="Stock :"/>
                                        <p:inputText id="stock" value="#{bean_logistica.stock}" required="true" title="Stock" />
                                        <p:outputLabel value="Categoria :"/>
                                        <p:selectOneMenu id="categoria" value="#{bean_logistica.categoria}" required="true" requiredMessage="The Categoria field is required.">
                                            <f:selectItems value="#{bean_logistica.listacat}" var="d" itemLabel="#{d.nombreCategoria}" itemValue="#{d.idCategoria}"/>
                                        </p:selectOneMenu>
                                        <p:outputLabel value="Proveedor :"/>
                                        <p:selectOneMenu id="provedor" value="#{bean_logistica.proveedor}" required="true" requiredMessage="The Provedor field is required.">
                                            <f:selectItems value="#{bean_logistica.listapro}" var="c" itemLabel="#{c.nombreProveedor}" itemValue="#{c.idProvedor}"/>
                                        </p:selectOneMenu>
                                        <h:inputHidden value="#{bean_logistica.id_inventario}"/>
                                    </h:panelGrid>
                                    <br/>
                                    <p:commandButton icon="ui-icon-circle-plus" onclick="PF('ventana1').close();" value="Ingresar" action="#{bean_logistica.guardar()}" update=":form2"/>
                                </h:form> 
                            </p:dialog>

                        </td>
                    </tr>
                </table>
            </ui:define>

        </ui:composition>

    </body>
</html>
