<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <body>

        <ui:composition template="./principal.xhtml">

            <ui:define name="content">
                <table cellpadding="15px">
                    <tr>
                        <td></td>
                        <td>
                            <h:outputStylesheet library="css" name="style-pedido.css"/>
                            <h:form id="formulario" style="border:  1px solid lightgray;">
                                <center><h2 id="banner">Registrar nuevo pedido</h2></center>
                                <p:panelGrid columns="2" style="margin-left:  58px !important;">
                                    <p:outputLabel value="Usuario"/>
                                    <p:outputLabel value="#{bean_login.nombre}"/>
                                </p:panelGrid><br/>
                                <center><p:panelGrid columns="4">
                                        <p:outputLabel value="Fecha Solicitud"/>
                                        <p:inputText value="#{bean_pedidoP.fechaHoy}" readonly="true" class="inputSolicitud">
                                            <f:convertDateTime pattern="yyy-MM-dd"/>
                                        </p:inputText>

                                        <p:outputLabel value="Fecha de entrega"/>
                                        <p:calendar/>

                                    </p:panelGrid></center><br/>
                                <center><h:panelGrid columns="2">
                                        <p:outputLabel value="Codigo del producto"/>
                                        <p:inputText value="0001" class="inputSolicitud" style="background: white;color: black;"/>

                                        <p:outputLabel value="proyeccion de ventas"/>
                                        <p:inputText value="8" class="inputSolicitud" style="background: white;color: black;"/>

                                    </h:panelGrid></center><br/>
                                <center><p:commandButton value="Agregar" style="color: black;font-weight: 300;width: 200px;height: 35px;"/></center>

                                <br/>
                                <hr style="width: 80%;"/>
                                <center>
                                    <p:panelGrid columns="4">
                                        <p:commandButton icon="ui-icon-grip-dotted-vertical" style="background: white;" onclick="PF('productos').show();"/>
                                        <p:outputLabel value="Ver productos en inventario"/>

                                        <p:commandButton icon="ui-icon-grip-dotted-vertical" style="background: white;" onclick="PF('ventas').show();"/>
                                        <p:outputLabel value="Ver ventas mensuales pasadas"/>
                                    </p:panelGrid>
                                </center>

                                <hr style="width: 90%;"/>
                                <br/>
                                <div style="width: 90%;margin: auto;">
                                    <h:form>
                                        <p:dataTable>
                                            <p:column headerText="N°" style="width: 100px;">
                                                <p:outputLabel value="3"/>
                                            </p:column>
                                            <p:column headerText="producto">
                                                <p:outputLabel value="teclado"/>
                                            </p:column>
                                            <p:column headerText="cantidad" style="width: 100px;">
                                                <p:outputLabel value="3"/>
                                            </p:column>
                                            <p:column headerText="estado">
                                                <p:outputLabel value="solicitado"/>
                                            </p:column>
                                        </p:dataTable> 
                                    </h:form>
                                    <br/>
                                    <p:panelGrid columns="4" style="margin: auto;width: 100%;">
                                        <p:outputLabel>
                                            Solicitado por <br/><strong><p:outputLabel value="Jose hernandez"/></strong>
                                        </p:outputLabel>
                                        <p:outputLabel>
                                            Solicitado por <br/><strong><p:outputLabel value="Jose hernandez"/></strong>
                                        </p:outputLabel>
                                        <p:outputLabel>
                                            Solicitado por <br/><strong><p:outputLabel value="Jose hernandez"/></strong>
                                        </p:outputLabel>
                                        <p:outputLabel>
                                            Solicitado por <br/><strong><p:outputLabel value="Jose hernandez"/></strong>
                                        </p:outputLabel>
                                    </p:panelGrid>
                                </div>
                            </h:form>
                            <p:dialog widgetVar="productos" showEffect="fade" hideEffect="fade" resizable="false" width="600">
                                <h:form>
                                    <p:dataTable value="#{bean_pedidoP.lista}" var="item" style="background: white;">
                                        <p:column headerText="Codigo">
                                            <h:outputText value="#{item.codigo}"/>
                                        </p:column>
                                        <p:column headerText="Nombre">
                                            <h:outputText value="#{item.nombre}"/>
                                        </p:column>
                                        <p:column headerText="Stock">
                                            <h:outputText value="#{item.stock}"/>
                                        </p:column>
                                    </p:dataTable>
                                </h:form>
                            </p:dialog>
                            <p:dialog widgetVar="ventas" showEffect="fade" hideEffect="fade" resizable="false" width="900">
                                <h:form>
                                    <p:dataTable value="#{bean_pedidoP.listaVenta}" var="s" style="background: white;">
                                        <p:column headerText="Codigo">
                                            <h:outputText value="#{s.codigo.codigo}"/>
                                        </p:column>
                                        <p:column headerText="Nombre del producto">
                                            <h:outputText value="#{s.codigo.nombre}"/>
                                        </p:column>
                                        <p:column headerText="cantidad vendida">
                                            <h:outputText value="#{s.cantidad}"/>
                                        </p:column>
                                        <p:column headerText="Vendedor">
                                            <h:outputText value="#{s.codigo.provedor.nombreProveedor}"/>
                                        </p:column>
                                    </p:dataTable>
                                </h:form>
                            </p:dialog>
                        </td>
                    </tr>
                </table>
            </ui:define>

        </ui:composition>

    </body>
</html>
