<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <body>

        <ui:composition template="./principal.xhtml">

            <ui:define name="content">
                <table cellpadding="15px">
                    <tr>
                        <td></td>
                        <td>
                            <p:growl>
                                <p:autoUpdate/>
                            </p:growl>
                            <center><h:form id="vista">
                                    <div class="tittle-table">
                                        <center>
                                            <div id="title">
                                                Datos registrados de los proveedores
                                            </div>
                                        </center>
                                    </div>
                                    <br/>
                                    <br/>
                                    <p:dataTable style="text-align: center" value="#{bean_proveedor.listaProveedor}" var="c">
                                        <p:column headerText="ID">
                                            <p:outputLabel value="#{c.idProvedor}"/>
                                        </p:column>
                                        <p:column headerText="Nombre del proveedor">
                                            <p:outputLabel value="#{c.nombreProveedor}"/>
                                        </p:column>
                                        <p:column headerText="Telefono">
                                            <p:outputLabel value="#{c.telefono}"/>
                                        </p:column>
                                        <p:column headerText="Giro">
                                            <p:outputLabel value="#{c.giros.nombreGiro}"/>
                                        </p:column>
                                        <p:column headerText="Estado">
                                            <p:outputLabel value="#{c.estadoGlobal.nombre}"/>
                                        </p:column>
                                        <p:column headerText="Actions">
                                            <p:commandButton icon="ui-icon-trash" style="width: 110px" value="Eliminar" actionListener="#{bean_proveedor.eliminar(c.idProvedor)}" update="vista"/>
                                            <p:commandButton icon="ui-icon-pencil" value="Editar" style="width: 110px;" actionListener="#{bean_proveedor.mostrarPorID(c.idProvedor)}" update="panel2" onclick="PF('ventana').show();"/>
                                        </p:column>
                                    </p:dataTable>
                                    <br/>
                                    <br/>
                                    <p:commandButton onclick="PF('ventana1').show();" icon="ui-icon-circle-plus" style="width: 350px;color: #000" value="INGRESAR NUEVO REGISTRO"/>
                                </h:form></center>

                            <br/><br/>
                            <p:dialog widgetVar="ventana" showEffect="fade" hideEffect="fade" resizable="false">
                                <center><h:form id="panel2">
                                        <p:growl>
                                            <p:autoUpdate/>
                                        </p:growl>
                                        <h:panelGrid columns="2">
                                            <p:outputLabel value="Nombre de proveedor"/>
                                            <p:inputText value="#{bean_proveedor.nombre_proveedor}"/>

                                            <p:outputLabel value="Telefono"/>
                                            <p:inputMask mask="9999-9999" value="#{bean_proveedor.telefono}"/>

                                            <p:outputLabel value="Giro"/>
                                            <p:selectOneMenu value="#{bean_proveedor.id_giro}">
                                                <f:selectItems value="#{bean_proveedor.listaGiros}" var="cg" itemLabel="#{cg.nombreGiro}" itemValue="#{cg.idGiro}"/>
                                            </p:selectOneMenu>
                                            <p:outputLabel value="Estado"/>
                                            <p:selectOneMenu value="#{bean_proveedor.id_estado}">
                                                <f:selectItems value="#{bean_proveedor.listaEstados}" var="es" itemLabel="#{es.nombre}" itemValue="#{es.idEstadoGlobal}"/>
                                            </p:selectOneMenu>
                                        </h:panelGrid>
                                        <p:outputLabel value="id de proveedor" style="display: none;"/>
                                        <p:inputText value="#{bean_proveedor.id_proveedor}" style="display: none;"/>
                                        <br/>
                                        <center>
                                            <p:commandButton value="Actualizar" icon="ui-icon-circle-check" onclick="PF('ventana').close();" actionListener="#{bean_proveedor.actualizar(c.idProvedor)}" update="vista" class="boton"/>
                                        </center>
                                    </h:form></center>
                            </p:dialog>

                            <p:dialog widgetVar="ventana1" header="NUEVO REGISTRO" style="color: wheat" resizable="false" showEffect="fade" hideEffect="fade">
                                <center><h:form id="panel">

                                        <h:panelGrid columns="2">
                                            <p:outputLabel value="Nombre de proveedor"/>
                                            <p:inputText value="#{bean_proveedor.nombre_proveedor}"/>

                                            <p:outputLabel value="Telefono"/>
                                            <p:inputMask mask="9999-9999" value="#{bean_proveedor.telefono}"/>

                                            <p:outputLabel value="Giro"/>
                                            <p:selectOneMenu value="#{bean_proveedor.id_giro}">
                                                <f:selectItems value="#{bean_proveedor.listaGiros}" var="c" itemLabel="#{c.nombreGiro}" itemValue="#{c.idGiro}"/>
                                            </p:selectOneMenu>
                                            <p:outputLabel value="Estado"/>
                                            <p:selectOneMenu value="#{bean_proveedor.id_estado}">
                                                <f:selectItems value="#{bean_proveedor.listaEstados}" var="es" itemLabel="#{es.nombre}" itemValue="#{es.idEstadoGlobal}"/>
                                            </p:selectOneMenu>
                                        </h:panelGrid>
                                        <br/>
                                        <p:commandButton value="Guardar" icon="ui-icon-circle-plus" actionListener="#{bean_proveedor.guardar()}" update=":vista"/>
                                    </h:form></center>
                            </p:dialog>
                        </td>
                    </tr>
                </table>  
            </ui:define>

        </ui:composition>

    </body>
</html>
