<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <title>AirFic</title>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <link rel="shortcut icon"  href="#{request.contextPath}/resources/images/icono.ico"/>

        <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700,300' rel='stylesheet' type='text/css'/>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous"/>
        <h:outputStylesheet library="css" name="animate.css"/>
        <h:outputStylesheet library="css" name="icomoon.css"/>
        <h:outputStylesheet library="css" name="bootstrap.css"/>
        <h:outputStylesheet library="css" name="superfish.css"/>
        <h:outputStylesheet library="css" name="magnific-popup.css"/>
        <h:outputStylesheet library="css" name="bootstrap-datepicker.min.css"/>
        <h:outputStylesheet library="css" name="cs-select.css"/>
        <h:outputStylesheet library="css" name="cs-skin-border.css"/>
        <h:outputStylesheet library="css" name="style.css"/>
        <h:outputStylesheet library="css" name="loading.css"/>
        <h:outputStylesheet library="js" name="modernizr-2.6.2.min.js"/>


    </h:head>
    <style>

        .ui-growl{

            z-index: 20000 !important;

        }

        .btnn:hover, .btnn:active, .btnn:focus {
            background: #393e46 !important;
            color: #fff;
            outline: none !important;
        }

        .ui-datagrid-content {

            border :none !important;

        }

        .ui-dialog-content {

            background-image: linear-gradient(to top, #d1d2d4, #b9b9bb, #a1a1a2, #8a8a8a, #737373) !important;

        }

        .ui-widget-header {

            background: #737373;

        }
    </style>
    <h:body>
        <p:growl>
            <p:autoUpdate/>
        </p:growl>
        <body>
            <div id="fh5co-wrapper">
                <div id="fh5co-page">
                    <header id="fh5co-header-section" class="sticky-banner">
                        <div class="container">
                            <div class="nav-header">
                                <a href="#" class="js-fh5co-nav-toggle fh5co-nav-toggle dark"><i></i></a>
                                <h1 id="fh5co-logo"><a href="faces/index.xhtml?faces-redirect=true"><i class="fas fa-plane"></i>AirFic</a></h1>
                                <!-- START #fh5co-menu-wrap -->
                                <nav id="fh5co-menu-wrap" role="navigation">
                                    <h:form>
                                        <ul class="sf-menu" id="fh5co-primary-menu">
                                            <li class="active"><a href="faces/index.xhtml?faces-redirect=true">Inicio</a></li>
                                            <li>
                                                <a class="fh5co-sub-ddown">Contactanos en</a>
                                                <ul class="fh5co-sub-menu">
                                                    <li><a href="#">Facebook</a></li>
                                                    <li><a href="#">Instagram</a></li>
                                                    <li><a href="#">Google + </a></li>
                                                </ul>
                                            </li>
                                            <li style="margin-left: 160px;" onclick="PF('sidebar').show();"><acronym title="Usuario" style="border: none;text-decoration: none;"> <a><i class="fas fa-user"></i>  &nbsp; #{sessionvalidate.l.usuario} </a></acronym></li>
                                            <li style="margin-left: 20px;"><p:commandLink onclick="PF('sidebar2').show();"  value="Iniciar Sesion" style="border: none;"/></li>
                                        </ul>
                                    </h:form>
                                </nav>
                            </div>
                        </div>
                    </header>
                    <!-- end:header-top -->
                    <div class="fh5co-hero">
                        <div class="fh5co-overlay">
                        </div>
                        <div class="fh5co-cover" data-stellar-background-ratio="0.5" style="background-image: url('../resources/images/cover_bg_1.jpg');">
                            <div class="desc">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-sm-6 col-md-8">
                                            <div class="tabulation animate-box">

                                                <!-- Nav tabs -->
                                                <ul class="nav nav-tabs" role="tablist">
                                                    <li role="presentation" class="active">
                                                        <a href="#flights" aria-controls="flights" role="tab" data-toggle="tab">Vuelos</a>
                                                    </li>
                                                </ul>
                                                <!-- Tab panes -->
                                                <div class="tab-content">
                                                    <h:form>
                                                        <p:growl>
                                                            <p:autoUpdate/>
                                                        </p:growl>
                                                        <div role="tabpanel" class="tab-pane active" id="flights">
                                                            <div class="row">
                                                                <div class="col-xxs-12 col-xs-6 mt">
                                                                    <div class="input-field">
                                                                        <label for="De">Desde</label>
                                                                        <br/>
                                                                        <p:selectOneMenu class="cs-select" style="width: 240px;" value="#{bean_tiquete.id_origenF}" >
                                                                            <f:selectItems value="#{bean_tiquete.listaOrigen}" var="a" itemLabel="#{a.nombre}" itemValue="#{a.idOrigen}"/>
                                                                        </p:selectOneMenu>
                                                                    </div>
                                                                </div>
                                                                <div class="col-xxs-12 col-xs-6 mt">
                                                                    <div class="input-field">
                                                                        <label for="A">Hacia</label>
                                                                        <br/>
                                                                        <p:selectOneMenu class="cs-select" style="width: 300px;" value="#{bean_tiquete.id_destinoF}">
                                                                            <f:selectItems value="#{bean_tiquete.listaDestino}" var="b" itemLabel="#{b.nombre}" itemValue="#{b.idDestino}"/>
                                                                        </p:selectOneMenu>
                                                                    </div>
                                                                </div>
                                                                <div class="col-xs-12 col-xs-6 mt">
                                                                    <div class="input-field">
                                                                        <label for="A">Clase</label>
                                                                        <br/>
                                                                        <p:selectOneMenu class="cs-select" style="width: 240px;" value="#{bean_tiquete.id_claseF}">
                                                                            <f:selectItems value="#{bean_tiquete.listaClases}" var="c" itemLabel="#{c.clase}" itemValue="#{c.idClase}"/>
                                                                        </p:selectOneMenu>
                                                                    </div>
                                                                </div>
                                                                <div class="col-xs-12 col-xs-6 mt">
                                                                    <center>
                                                                        <p:commandButton  class="btn btn-primary btn-outline" value="Buscar" actionListener="#{bean_tiquete.filtro2()}" style="font-weight: 400 !important;width: 50%;"/>
                                                                    </center>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </h:form>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6 col-md-12" style="margin-top: 40px !important;">
                                            <div class="desc2 animate-box">
                                                <div class="col-sm-7 col-sm-push-1 col-md-12 col-md-push-1">
                                                    <h2>Oferta exclusiva por tiempo limitado</h2>
                                                    <h3>Vuela de San salvador a Los Angeles,USA</h3>
                                                    <span class="price">$360</span>
                                                    <!-- <p><a class="btn btn-primary btn-lg" href="#">Get Started</a></p> -->
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="fh5co-tours" class="fh5co-section-gray">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-8 col-md-offset-2 text-center heading-section animate-box">
                                    <h3>Atrevete a viajar, a conocer el mundo y sus bellezas.</h3>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-8 col-md-offset-2 text-center heading-section animate-box">
                                    <h2>Vuelos en ofertas</h2>
                                </div>
                            </div>
                            <div class="row">
                                <h:form>
                                    <p:dataGrid columns="1" value="#{bean_tiquete.listaOfertas}" var="ccc">
                                        <div class="col-md-12 col-sm-6 fh5co-tours animate-box" data-animate-effect="fadeIn">
                                            <div href="#">
                                                <p:graphicImage name="#{ccc.photo}" library="destinos" class="img-responsive" style="height:350px !important; width: 100% !important;"/>
                                                <p:graphicImage name="place-1.jpg" library="images" class="img-responsive" style="height: 200px !important;width: 100% !important;" />
                                                <div class="desc">
                                                    <span></span>
                                                    <h3>#{ccc.origen} a  #{ccc.destino}</h3>
                                                    <span class="price">$ #{ccc.precio}</span>
                                                    <a><h:link outcome="faces/compra_vuelo.xhtml?faces-redirect=true" class="btn btn-primary btn-outline" value="Comprar">
                                                            <f:param name="id1" value="#{ccc.idAvionDestino}"/>
                                                        </h:link>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </p:dataGrid>
                                </h:form>
                            </div>
                        </div>
                    </div>
                    <div id="fh5co-blog-section" class="fh5co-section-gray">
                        <div class="container">
                            <div class="row">
                            </div>
                        </div>
                    </div>
                    <!-- fh5co-blog-section -->
                    <div id="fh5co-testimonial" style="background-image:url( #{request.contextPath}../resources/images/img_bg_1.jpg) !important;">
                        <div class="container">
                            <div class="row animate-box">
                                <div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
                                    <h2>Clientes satisfechos</h2>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="box-testimony animate-box">
                                        <blockquote>
                                            <span class="quote"><span><i class="fas fa-chevron-circle-right"></i></span></span>
                                            <p>&ldquo;Yo solo vine al aeropuerto por agua pero accidentalmente compré un boleto, el vuelo fue de lo mejor &rdquo;</p>
                                        </blockquote>
                                        <p class="author">Un desconocido<span class="subtext">Un desconocidox2</span></p>
                                    </div>

                                </div>
                                <div class="col-md-4">
                                    <div class="box-testimony animate-box">
                                        <blockquote>
                                            <span class="quote"><span><i class="fas fa-chevron-circle-right"></i></span></span>
                                            <p>&ldquo;Nmms vato estuvo bien chido el viaje +100 :3 , gracias a este viaje pude conocer a la que ahora es mi esposa.&rdquo;</p>
                                        </blockquote>
                                        <p class="author">Freddy mercurio<span class="subtext">Dueño de saturno</span></p>
                                    </div>


                                </div>
                                <div class="col-md-4">
                                    <div class="box-testimony animate-box">
                                        <blockquote>
                                            <span class="quote"><span><i class="fas fa-chevron-circle-right"></i></span></span>
                                            <p>&ldquo;La atencion es tan buena, no tengo quejas sobre eso.&rdquo;</p>
                                        </blockquote>
                                        <p class="author">Hanna montaña<span class="subtext">la de hanna montaña</span></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <footer>
                        <div id="footer">
                            <div class="container">

                                <div class="row">
                                    <div class="col-md-6 col-md-offset-3 text-center">
                                        <p>Copyright 2019 All Rights Reserved.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </footer>
                </div>
                <!-- END fh5co-page -->

            </div>

            <p:sidebar widgetVar="sidebar2" position="right" baseZIndex="10000" style="background: #F78536;">
                <br/>

                <h:form id="form1">
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs" role="tablist" >
                        <li role="presentation" class="active">
                            <p:graphicImage name="icono.png" library="images" style="position: relative;width: 80px;height: 80px;top: 100px;left: 230px;"/>
                        </li>
                    </ul>
                    <div class="tabulation animate-box" style="margin-top:   60px !important;">
                        <!-- Tab panes -->
                        <div class="tab-content">

                            <div role="tabpanel" class="tab-pane active" id="flights">
                                <div class="row">
                                    <div class="col-sm-12 mt">
                                        <div class="input-field">
                                            <label for="from">Usuario</label>
                                            <p:inputText required="true" requiredMessage="Usuario es requerido" value="#{bean_validacion.loggin.usuario}"/>
                                        </div>
                                    </div>
                                    <br/>
                                    <div class="col-sm-12 mt">
                                        <div class="input-field">
                                            <label for="from">Contraseña</label>

                                            <p:password  required="true" requiredMessage="Contraseña es requerido" value="#{bean_validacion.loggin.pass}"/>
                                        </div>
                                    </div>
                                    <div class="col-xs-12">
                                        <center>
                                            <p:commandButton value="Iniciar Sesion" class="btnn" style="border: none;background: #F78536;border: none;color: white;font-weight: 400;font-size: 16px;width: 150px;height: 35px;" update="form1" actionListener="#{bean_validacion.validar()}"/>
                                        </center> 
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12" style="margin-top: 30px;">
                        <center>
                            <a href="faces/crearCuenta.xhtml?faces-redirect=true" style="color: white !important;font-size: 17px;">¿No tienes cuenta?, <p style="color: #000 !important;">creala en este momento.</p></a>
                        </center>
                        <center>
                            <a href="faces/recuperar_contraseña.xhtml?faces-redirect=true" style="color: white !important;font-size: 17px;">¿Olvidaste tu contraseña?</a>
                        </center> 
                    </div>
                </h:form>
            </p:sidebar>

            <p:sidebar widgetVar="sidebar" position="right" baseZIndex="10000" style="background: #F78536;">
                <br/>

                <h:form>
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs" role="tablist" >
                        <li role="presentation" class="active">
                            <p:graphicImage name="icono.png" library="images" style="position: relative;width: 80px;height: 80px;top: 100px;left: 230px;"/>
                        </li>
                    </ul>
                    <div class="tabulation animate-box" style="margin-top:   60px !important;">
                        <!-- Tab panes -->
                        <div class="tab-content">

                            <div role="tabpanel" class="tab-pane active" id="flights">
                                <div class="row">
                                    <div class="col-sm-12 mt">
                                        <div class="input-field">
                                            <label for="from">¿Desea Cerrar Sesion?</label>
                                            <div style="margin-top: 10px;">
                                                <p:commandButton value="Si" actionListener="#{bean_validacion.cerrarSession()}" action="index?faces-redirect=true" class="btnn"  style="border: none;background: #F78536;border: none;color: white;font-weight: 400;font-size:20px;width: 150px;height: 40px;"/>
                                            </div>
                                            <div style="margin-top: 20px;">
                                                <p:commandButton value="No" onclick="PF('sidebar').close();" class="btnn"  style="border: none;background: #F78536;border: none;color: white;font-weight: 400;font-size:20px;width: 150px;height: 40px;"/>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </h:form>
            </p:sidebar>
            <!-- jQuery -->


            <script>

                $(document).ready(function () {

                    setTimeout(function () {

                        $("#loading").fadeIn(300);

                    }, 1000);

                });


            </script>


            <h:outputStylesheet library="js" name="jquery.min.js"/>
            <h:outputStylesheet library="js" name="jquery.easing.1.3.js"/>
            <h:outputStylesheet library="js" name="bootstrap.min.js"/>
            <h:outputStylesheet library="js" name="jquery.waypoints.min.js"/>
            <h:outputStylesheet library="js" name="sticky.js"/>
            <h:outputStylesheet library="js" name="jquery.stellar.min.js"/>
            <h:outputStylesheet library="js" name="hoverIntent.js"/>
            <h:outputStylesheet library="js" name="superfish.js"/>
            <h:outputStylesheet library="js" name="magnific-popup-options.js"/>
            <h:outputStylesheet library="js" name="jquery.magnific-popup.min.js"/>
            <h:outputStylesheet library="js" name="magnific-popup-options.js"/>
            <h:outputStylesheet library="js" name="bootstrap-datepicker.min.js"/>
            <h:outputStylesheet library="js" name="classie.js"/>
            <h:outputStylesheet library="js" name="selectFx.js"/>
            <h:outputStylesheet library="js" name="main.js"/>

        </body>

    </h:body>
</html>

