.loading {

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../images/load.gif') !important;
    background-repeat: no-repeat;
    z-index: 1000000000;
    background-position: center center;

}
