
body {
    font-size: 13px;
    font-family: arial;
    background: #fff;
    color: #777;

}
h1, h2, h3, h4, h5, h6 {
    color: #333;
    margin-top: 0
}
h1 small, h2 small, h3 small, h4 small, h5 small, h6 small {
    font-size: 11px;
    margin: 0 0 0 5px
}
h1 {
    font-size: 28px
}
h2 {
    font-size: 24px
}
h3 {
    font-size: 20px
}
h4 {
    font-size: 16px
}
h5 {
    font-size: 13px
}
h6 {
    font-size: 11px
}
strong, b {
    color: #555
}
a:hover, a:focus {
    outline: 0
}
small, .small {
    font-size: 11px
}

.lead {
    font-size: 16px;
    line-height: 22px
}
.text-muted {color: #999;}
.wrapper {
    background: url(../images/bg.png) #eee;
    border-bottom: 1px solid #bbb;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.1);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,0.1);
    box-shadow: 0 1px 2px rgba(0,0,0,0.1);
    padding: 30px 0;
}
.footer {
    background:#393939;
    padding: 25px 0 30px;
    color: white;
}
.footer .nav li {
    float: left
}
.footer .nav li+li {
    margin-left: 30px
}
.footer .nav li a {
    color: inherit
}
.footer .nav li a:hover {
    color: #555
}
form {
    margin: 0
}

.module {
    background: #fff;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border: 1px solid #ccc;
    border-bottom-color: #bbb;
    -webkit-box-shadow: 0 0 1px rgba(0,0,0,0.2);
    -moz-box-shadow: 0 0 1px rgba(0,0,0,0.2);
    box-shadow: 0 0 1px rgba(0,0,0,0.2);
    margin-bottom: 30px
}
.align-center {
    text-align: center
}
.align-right {
    text-align: right!important
}
.clear {
    clear: both
}
.none {
    display: none
}
.nav>li>a:hover {
    background: 0
}
.form-horizontal .control-group, .form-vertical .control-group {
    margin-bottom: 0
}
.form-horizontal .control-group+.control-group, .form-vertical .control-group+.control-group {
    margin-top: 13px;
    padding-top: 13px;
    border-top: 1px solid #f5f5f5
}
.module-login {
    margin-bottom: 80px;
    margin-top: 80px
}
.module-login .form-vertical input {
    margin-bottom: 0!important
}
.navbar {
    position: static!important;
    margin: 0!important
}
.navbar .navbar-inner {
    background: #fff;
    border-bottom: 1px solid #bbb;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.15);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,0.15);
    box-shadow: 0 1px 2px rgba(0,0,0,0.15)
}
.navbar .brand {
    color: #333;
    font-weight: bold;
    font-size: 20px;
    margin-right: 20px;
    padding: 1px
}



.navbar .nav>li>a {
    padding: 40px 15px;
    font-weight: bold;
    color: #777
}




.navbar .nav>li.active , .navbar .nav>li.active , .navbar .nav>li.active, .navbar .nav>li:hover  {
    background: #f9f9f9;
}
.navbar .nav>li.dropdown.open>.dropdown-toggle, .navbar .nav>li.dropdown.active>.dropdown-toggle, .navbar .nav>li.dropdown.open.active>.dropdown-toggle {
    background: #fff;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    padding-left: 14px;
    padding-right: 14px;
    position: relative;
    z-index: 9999
}
.navbar .nav>li>.dropdown-menu {
    border: 1px solid #ccc;
    -webkit-border-radius: 0 0 3px 3px;
    -moz-border-radius: 0 0 3px 3px;
    border-radius: 0 0 3px 3px;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    -moz-box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    left: -1px;
    min-width: 200px;
    margin: -1px 0 0;
    z-index: 9991
}
.navbar .nav>li>.dropdown-menu::before, .navbar .nav>li>.dropdown-menu::after {
    display: none
}
.navbar .nav>li>.dropdown-menu li>a {
    padding: 10px 20px
}
.navbar .nav>li>.dropdown-menu li>a:hover {
    background: #f9f9f9;
    color: #555
}

.navbar .nav>.active>a, .navbar .nav>.active>a:hover, .navbar .nav>.active>a:focus
{

    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
.navbar .nav.nav-icons>li>a {
    background: none;
    -webkit-box-shadow:none;
    -moz-box-shadow: none;
    box-shadow: none;
    color: #777;
    font-weight: bold;
    padding: 5px;
    margin: 15px 5px
}
.navbar .pull-right>li>.dropdown-menu, .navbar .nav>li>.dropdown-menu.pull-right {
    right: 0;
    left: auto
}
.navbar .divider-vertical {
    background: #eee;
    border-left: 0;
    border-right: 0;
    height: 30px;
    margin: 25px 15px;
    width: 1px
}
.navbar-search {
    margin: 15px 0 0 0
}
.nav-user>a {
    height: 20px
}
.nav-avatar {
    width: 50px;
    height: 50px;
    margin: -5px 3px 0 0;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;

}
.dropdown-menu {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px
}

.modal {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0 0 5px rgba(0,0,0,0.2);
    -moz-box-shadow: 0 0 5px rgba(0,0,0,0.2);
    box-shadow: 0 0 5px rgba(0,0,0,0.2)
}
.modal .modal-header .close {
    color: rgba(0,0,0,0.5);
    font-size: 16px;
    line-height: 30px;
    height: 30px;
    margin: 0;
    text-shadow: 1px 1px 2px #ddd, 0 0 0 #000, 0 0 1px #fff
}
.modal-backdrop, .modal-backdrop.fade.in {
    background: #fff;
    opacity: .9
}
.accordion-group {
    background: #fff;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border: 1px solid #ccc;
    border-bottom-color: #bbb;
    -webkit-box-shadow: 0 0 1px rgba(0,0,0,0.2);
    -moz-box-shadow: 0 0 1px rgba(0,0,0,0.2);
    box-shadow: 0 0 1px rgba(0,0,0,0.2);
    overflow: hidden;
    margin-bottom: 5px
}
.accordion-heading {
    background: #fafafa;
    background: -moz-linear-gradient(top, #fff 0, #fff 50%, #fafafa 51%, #fafafa 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fff), color-stop(50%, #fff), color-stop(51%, #fafafa), color-stop(100%, #fafafa));
    background: -webkit-linear-gradient(top, #fff 0, #fff 50%, #fafafa 51%, #fafafa 100%);
    background: -o-linear-gradient(top, #fff 0, #fff 50%, #fafafa 51%, #fafafa 100%);
    background: -ms-linear-gradient(top, #fff 0, #fff 50%, #fafafa 51%, #fafafa 100%);
    background: linear-gradient(to bottom, #fff 0, #fff 50%, #fafafa 51%, #fafafa 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='@topColor', endColorstr='@bottomColor', GradientType=0)
}
.accordion-heading .accordion-toggle {
    color: #555;
    font-weight: bold;
    line-height: 20px;
    padding: 10px 15px;
    text-decoration: none!important
}

.table {
    margin-bottom: 0
}
.table th, .table td {
    border-color: #d5d5d5!important
}
.table.valign-middle td, .table.valign-middle th {
    vertical-align: middle
}
.table-bordered thead:first-child tr:first-child>th:first-child, .table-bordered tbody:first-child tr:first-child>td:first-child {
    -webkit-border-top-left-radius: 2px;
    -moz-border-radius-topleft: 2px;
    border-top-left-radius: 2px
}
.table-bordered thead:first-child tr:first-child>th:last-child, .table-bordered tbody:first-child tr:first-child>td:last-child {
    -webkit-border-top-right-radius: 2px;
    -moz-border-radius-topright: 2px;
    border-top-right-radius: 2px
}
.table-bordered thead:last-child tr:last-child>th:first-child, .table-bordered tbody:last-child tr:last-child>td:first-child, .table-bordered tfoot:last-child tr:last-child>td:first-child {
    -webkit-border-bottom-left-radius: 2px;
    -moz-border-radius-bottomleft: 2px;
    border-bottom-left-radius: 2px
}
.table-bordered thead:last-child tr:last-child>th:last-child, .table-bordered tbody:last-child tr:last-child>td:last-child, .table-bordered tfoot:last-child tr:last-child>td:last-child {
    -webkit-border-bottom-right-radius: 2px;
    -moz-border-radius-bottomright: 2px;
    border-bottom-right-radius: 2px
}
.sidebar-user .user-avatar {
    background: #fff;
    border: 1px solid #ccc;
    border-bottom-color: #ccc;
    height: 70px;
    width: 70px;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    margin-right: 15px
}
.sidebar-user .user-avatar img {
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    width: 60px;
    height: 60px;
    margin: 5px
}
.sidebar-user .user-content {
    overflow: hidden;
    margin-top: 15px
}
.sidebar-user .user-content h3 {
    font-size: 14px;
    line-height: 16px;
    height: 16px;
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}
.widget .progress {
    margin-bottom: 0
}
.widget-menu {
    background: #fff;

    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;

    overflow: hidden
}
.widget-menu a {
    color: #000;
    display: block;
    line-height: 20px;
    padding: 15px;
    text-decoration: none!important
}
.widget-menu .menu-icon {
    margin-right: 10px;
    color: white;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}
.widget-menu .label {
    background: #888;
    -webkit-box-shadow: 0 0 2px rgba(0,0,0,0.4) inset;
    -moz-box-shadow: 0 0 2px rgba(0,0,0,0.4) inset;
    box-shadow: 0 0 2px rgba(0,0,0,0.4) inset;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    line-height: 20px;
    padding: 0 5px
}

.widget-menu>li+li {
    border-top: 1px solid #555
}



.widget-menu>li>a {
    background:#464546;
    color: white;
    font-family: arial;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}



.widget-menu>li>a .icon-chevron-up {
    display: block
}
.widget-menu>li>a .icon-chevron-down {
    display: none
}
.widget-menu>li>a.collapsed .icon-chevron-up {
    display: none
}
.widget-menu>li>a.collapsed .icon-chevron-down {
    display: block
}
.widget-menu>li>a:hover {
    background-color: #28262c;
    color: #fafafa;
}

.widget-menu>li>a:hover .menu-icon { color:#fff;}

.widget-menu>li ul li {
    background: #eee;
    border-top: 1px solid #ccc
}
.widget-menu>li ul li+li {
    border-top: 0
}
.widget-menu>li ul li.active a {
    background: #f0f0f0
}
.widget-menu>li ul li a {
    padding: 10px 15px 10px 30px
}
.widget-menu>li ul li a:hover {
    background: #f5f5f5;
    -webkit-box-shadow: 0 1px 0 #fafafa inset;
    -moz-box-shadow: 0 1px 0 #fafafa inset;
    box-shadow: 0 1px 0 #fafafa inset;
    border-bottom: 1px solid #d5d5d5;
    border-top: 1px solid #d5d5d5;
    padding: 9px 15px 9px 30px
}
.widget-usage {
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
    text-decoration: none!important;
}
.widget-usage p {
    margin-bottom: 10px;
    line-height: 1.2
}
.widget-usage li {
    padding: 15px
}
.widget-usage li+li {
    border-top: 1px solid #ddd
}
.module {

    box-shadow: 0 0 3px rgba(0,0,0,.1);
    border-color: #e9e9e9;
    margin-bottom: 20px;
    background-color: #fff;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    box-shadow: 0 1px 1px rgba(0,0,0,.05);



}
.module-head {

    color: #767676;
    background-color: #f6f6f6;
    border-color: #e9e9e9;


    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;




}
.module-head h3 {
    font-size: 14px;
    line-height: 20px;
    height: 20px;
    margin: 0
}
.module-option {
    border-bottom: 1px solid #e5e5e5;
    padding: 15px 0;
    margin: 0 15px
}
.module-body {
    padding: 15px
}
.module-body.table {
    padding: 15px 0
}
.module-body.table .table th, .module-body.table .table td {
    padding-left: 15px;
    padding-right: 15px
}
.module-foot {
    background: #f9f9f9;
    border-top: 1px solid #ddd;
    -webkit-border-radius: 0 0 2px 2px;
    -moz-border-radius: 0 0 2px 2px;
    border-radius: 0 0 2px 2px;
    padding: 15px
}
.login .user-accounts li {
    padding: 30px;
    overflow: hidden
}
.login .user-accounts li+li {
    border-top: 1px solid #ddd
}
.login .user-avatar {
    background: #fff;
    border: 1px solid #ccc;
    border-bottom-color: #ccc;
    height: 100px;
    width: 100px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    margin-right: 15px
}
.login .user-avatar img {
    -webkit-border-radius: 45px;
    -moz-border-radius: 45px;
    border-radius: 45px;
    width: 90px;
    height: 90px;
    margin: 5px
}
.login .user-content {
    margin: 5px 0 0 125px
}
.login .user-content h3 {
    font-size: 16px;
    line-height: 20px;
    margin: 0 0 15px
}
.login .user-content h3 small {
    font-size: 11px;
    margin-left: 10px
}
.login .user-content p {
    margin-bottom: 15px
}

.profile-head {
    background: #f9f9f9;
    -webkit-border-radius: 2px 2px 0 0;
    -moz-border-radius: 2px 2px 0 0;
    border-radius: 2px 2px 0 0;
    margin: -15px -15px 0!important;
    padding: 15px 15px 0
}
.profile-head .media-avatar {
    background: #fff
}
.profile-brief {
    border-left: 3px solid #eee;
    padding-left: 15px
}
.profile-tab {
    background: #f9f9f9;
    margin: 0 -15px 25px;
    padding: 30px 15px 0;
    font-weight: 600
}
.profile-tab>li>a {
    color: #888;
    -webkit-border-radius: 2px 2px 0 0;
    -moz-border-radius: 2px 2px 0 0;
    border-radius: 2px 2px 0 0
}
.profile-tab>li>a:hover {
    color: #666
}
.profile-tab>li.active>a {
    color: #444
}
.profile-tab>li+li {
    margin-left: 5px
}
.profile-tab-content {
    overflow: visible
}
.profile-tab-content .stream-list {
    border-top: 0;
    margin-top: 0
}
.profile-tab-content .stream-list .media:first-child {
    margin-top: -20px
}

.dataTables_wrapper {
    overflow: hidden
}
.dataTables_wrapper select, .dataTables_wrapper input, .dataTables_wrapper label {
    margin: 0
}
.dataTables_wrapper select, .dataTables_wrapper input {
    margin: 0 0 0 5px
}
.dataTables_wrapper>div {
    float: left;
    margin: 0 0 15px 15px
}
.dataTables_wrapper>div+div {
    float: right;
    margin: 0 15px 15px 0
}
.dataTables_wrapper table+div, .dataTables_wrapper table+div+div {
    margin-top: 15px;
    margin-bottom: 0
}
.dataTables_wrapper table th {
    background: #f5f5f5;
    cursor: pointer
}
.dataTables_wrapper table th:focus {
    outline: 0
}
.dataTables_wrapper table th.sorting_asc, .dataTables_wrapper table th.sorting_desc {
    background: #f0f0f0;
    -webkit-box-shadow: 0 0 5px rgba(0,0,0,0.1) inset;
    -moz-box-shadow: 0 0 5px rgba(0,0,0,0.1) inset;
    box-shadow: 0 0 5px rgba(0,0,0,0.1) inset
}
.dataTables_wrapper table tr:hover th {
    background: #f1f1f1;
    background: -moz-linear-gradient(top, #fafafa 0, #fafafa 50%, #f1f1f1 51%, #f1f1f1 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fafafa), color-stop(50%, #fafafa), color-stop(51%, #f1f1f1), color-stop(100%, #f1f1f1));
    background: -webkit-linear-gradient(top, #fafafa 0, #fafafa 50%, #f1f1f1 51%, #f1f1f1 100%);
    background: -o-linear-gradient(top, #fafafa 0, #fafafa 50%, #f1f1f1 51%, #f1f1f1 100%);
    background: -ms-linear-gradient(top, #fafafa 0, #fafafa 50%, #f1f1f1 51%, #f1f1f1 100%);
    background: linear-gradient(to bottom, #fafafa 0, #fafafa 50%, #f1f1f1 51%, #f1f1f1 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='@topColor', endColorstr='@bottomColor', GradientType=0)
}
.dataTables_wrapper table tr:hover th.sorting_asc, .dataTables_wrapper table tr:hover th.sorting_desc {
    background: #f0f0f0
}

.dataTables_wrapper .table-bordered {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    border-left: 0;
    border-right: 0
}
.dataTables_wrapper .table-bordered thead tr>th:first-child, .dataTables_wrapper .table-bordered tbody tr>td:first-child, .dataTables_wrapper .table-bordered tfoot tr>td:first-child, .dataTables_wrapper .table-bordered tfoot tr>th:first-child {
    border-left: 0
}
.dataTables_wrapper .table-bordered thead:first-child tr:first-child>th:first-child, .dataTables_wrapper .table-bordered tbody:first-child tr:first-child>td:first-child {
    -webkit-border-top-left-radius: 0;
    -moz-border-radius-topleft: 0;
    border-top-left-radius: 0
}
.dataTables_wrapper .table-bordered thead:first-child tr:first-child>th:last-child, .dataTables_wrapper .table-bordered tbody:first-child tr:first-child>td:last-child {
    -webkit-border-top-right-radius: 0;
    -moz-border-radius-topright: 0;
    border-top-right-radius: 0
}
.dataTables_wrapper .table-bordered thead:last-child tr:last-child>th:first-child, .dataTables_wrapper .table-bordered tbody:last-child tr:last-child>td:first-child, .dataTables_wrapper .table-bordered tfoot:last-child tr:last-child>td:first-child {
    -webkit-border-bottom-left-radius: 0;
    -moz-border-radius-bottomleft: 0;
    border-bottom-left-radius: 0
}
.dataTables_wrapper .table-bordered thead:last-child tr:last-child>th:last-child, .dataTables_wrapper .table-bordered tbody:last-child tr:last-child>td:last-child, .dataTables_wrapper .table-bordered tfoot:last-child tr:last-child>td:last-child {
    -webkit-border-bottom-right-radius: 0;
    -moz-border-radius-bottomright: 0;
    border-bottom-right-radius: 0
}
.dataTables_info {
    float: left;
    padding-top: 5px
}
.datatable-pagination {
    float: right
}
.datatable-pagination>a {

    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    cursor: pointer;
    display: inline-block;
    line-height: 20px;
    height: 20px;
    background-color: #f5f5f5;

    padding: 4px 12px;
    text-align: center;
    text-decoration: none!important;
    text-shadow: 0 1px 1px rgba(255,255,255,0.75);
    vertical-align: middle
}
.datatable-pagination>a+a {
    margin-left: -1px
}
.datatable-pagination>a:first-child {
    -webkit-border-top-left-radius: 3px;
    -moz-border-radius-topleft: 3px;
    border-top-left-radius: 3px;
    -webkit-border-bottom-left-radius: 3px;
    -moz-border-radius-bottomleft: 3px;
    border-bottom-left-radius: 3px
}
.datatable-pagination>a:last-child {
    -webkit-border-top-right-radius: 3px;
    -moz-border-radius-topright: 3px;
    border-top-right-radius: 3px;
    -webkit-border-bottom-right-radius: 3px;
    -moz-border-radius-bottomright: 3px;
    border-bottom-right-radius: 3px
}
.datatable-pagination>a:hover {
    background-color: #efefef;
    background-image: -moz-linear-gradient(top, #f5f5f5, #e6e6e6);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f5f5f5), to(#e6e6e6));
    background-image: -webkit-linear-gradient(top, #f5f5f5, #e6e6e6);
    background-image: -o-linear-gradient(top, #f5f5f5, #e6e6e6);
    background-image: linear-gradient(to bottom, #f5f5f5, #e6e6e6);
    background-repeat: repeat-x;
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff5f5f5', endColorstr='#ffe6e6e6', GradientType=0)
}
.datatable-pagination>a.paginate_disabled_previous, .datatable-pagination>a.paginate_disabled_next {


    cursor: default
}
.datatable-pagination>a.paginate_disabled_previous i, .datatable-pagination>a.paginate_disabled_next i {
    opacity: .5;
    filter: alpha(opacity=50)
}
.datatable-pagination>a span {
    display: none
}

.pie {
    position: relative
}
.pie #hover {
    width: 100%;
    height: 34px;
    margin-top: -17px;
    text-align: left;
    position: absolute;
    top: 50%;
    left: 0
}
.pie #hover span {
    background: #444;
    background: rgba(0,0,0,0.8);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    color: #fff;
    display: inline-block;
    font: 11px/34px Consolas, Monaco, Menlo, monospace;
    height: 34px;
    padding: 0 15px
}
#gridtip {
    background: #333;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    font-size: 11px;
    font-weight: bold;
    color: #fff;
    display: inline-block;
    padding: 3px 10px
}
.ui-slider {
    position: relative;
    text-align: left
}

.ui-slider .ui-slider-range {
    position: absolute;
    z-index: 1;
    display: block;
    border: 0;
    background-position: 0 0
}
.ui-slider.ui-state-disabled .ui-slider-handle, .ui-slider.ui-state-disabled .ui-slider-range {
    filter: inherit
}
.ui-slider-horizontal {
    background: #f5f5f5;
    border: 1px solid #ccc;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    -webkit-box-shadow: 0 0 2px rgba(0,0,0,0.1) inset;
    -moz-box-shadow: 0 0 2px rgba(0,0,0,0.1) inset;
    box-shadow: 0 0 2px rgba(0,0,0,0.1) inset;
    height: 6px
}
.ui-slider-horizontal .ui-slider-handle {
    top: -5px;
    margin-left: -8.5px
}
.ui-slider-horizontal .ui-slider-range {
    border: 1px solid #0070a8;

    background-color: #0e90d2;

    top: -1px;
    height: 100%
}
.ui-slider-horizontal .ui-slider-range-min {
    left: 0
}
.ui-slider-horizontal .ui-slider-range-max {
    right: 0
}
.ui-slider-vertical {
    width: .8em;
    height: 100px
}
.ui-slider-vertical .ui-slider-handle {
    left: -0.3em;
    margin-left: 0;
    margin-bottom: -0.6em
}
.ui-slider-vertical .ui-slider-range {
    left: 0;
    width: 100%
}
.ui-slider-vertical .ui-slider-range-min {
    bottom: 0
}
.ui-slider-vertical .ui-slider-range-max {
    top: 0
}





/*Header*/

.header__bg {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 20%;
    background:#393939;
    transform: skewY(-4deg);
    transform-origin: top left;
}

#menu {
    margin: 0;
    padding: 45px 0;
    text-align: center;
}

header #menu{
    position: relative;
    color: white;
}

.navbar-inner{
    position: relative;
    margin: 0;
    text-align: center;
    top: 50px;
}

#copiright {
    margin: auto;
    text-align: center;
}

.name_program {
    height: 50%;
    width: 370px;

}



/*Titulo tabla*/
.tittle-table {

    background: #393939;color: white;height: 50px;width: 500px;margin: auto;

}

.tittle-table #title {

    padding:12px;font-size: 22px;

}

.tittle-table2 {

    background: #393939;color: white;height: 50px;width: 350px;margin: auto;

}


.panelGrid {

    margin: auto;width: 500px;height: 200px;

}


.boton {

    background: white;color: black;font-weight: 400;width: 200px;height: 35px;font-size: 17px;

}

.botonMenu {

    background: white;
    height:40px;
    width: 20px;

}

.ui-dialog-titlebar{
    background:#393939;

}


.ui-dialog-title {

    color: white;
    font-weight: 400;
}



